.container {
  display: flex;
  padding-right: 30px;
  margin: 0;
}

.item {
  border-radius: 10px ;
  max-width: 60%;
  padding: 10px;
  margin: auto;
  color: white;
  cursor: pointer;
}

.item:nth-child(1n) {
  background-color: #cc311e;
}

.item:nth-child(2n) {
  background-color: #0d7b88;
}

.item:nth-child(3n) {
  background-color: #13460a;
}

.item:nth-child(4n) {
  background-color: #5b0f8a;
}

.todoForm {
  flex: 1;
  white-space: pre-wrap;
}

.checkBox {
  padding: 10px;
}

.btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.checked {
  text-decoration: line-through;
}

.editBtn {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.checkedBtn {
  border-radius: 10px;
  margin-left: 5px;
}
